/*START LIGNE GENERAL */
/* Définition de la police utilisée pour le site */
@font-face
{
	font-family: 'Raleway-Regular';
	src: url('Raleway-Regular.ttf');
}

.conteneur
{
    max-width:1400px;
    margin: 0 auto; 
}
html,body 
{
    font-family: Raleway-Regular; 
}
.flexcenter 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexbetween 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcolumncenter 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexcolumnaround 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcolumnbetween 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.decorationnone 
{
    text-decoration: none;
}
.bordurenone 
{
    border: none;
}
.textegras 
{
    font-weight: bold;
}
.colorbleu 
{
     color: #0065fc;
}
.colorbleuclair 
{
    color: #deebff;
}
.colorgris 
{
    color: #f2f2f2;
}
.backbleu 
{
    background-color: #0065fc;
}
.backbleuclair 
{
    background-color: #deebff;
}
.backgris 
{
    background-color: #f2f2f2;
}
.bluestar
{
    color: #0065fc;
}
/*END LIGNE GENERAL */


/* START NAV */

.sizelinks 
{
  width: 100%;
}
.sizelink1_2
{
  margin-left: 60%;
}
.sizelink 
{
  width: 140px;
  height: 99px;
}
.colorlink2 
{
  color: black;
}
.bordurenav
{
  border-top: 1px solid transparent;
}
.bordurenav:hover 
{
  border-top: 1px solid #0065fc;
  cursor: pointer;
}
.bordurenav:hover > a 
{
  color: #0065fc;
}
.marglogo
 {
  margin-bottom: 7px;
}
/* END NAV */

/* START RECHERCHE */
.textegras 
{
    font-weight: bold;
}
.search
{
    width: 401px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paddingsearch 
{
    padding-left: 20px;
}
.borduresearch 
{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #a32525;
}
.recherche 
{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
input[type="search" i] 
{
    appearance: auto;
    box-sizing: border-box;
}
.buttonsearch 
{
    border: unset;
    height: 50px;
    width: 140px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    outline: none;
    font-weight: bold;
}
.iconsearch
{
    display: none;
}
.iconsize 
{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
/* END RECHERCHE */

/* START FILTRES */
.filtre
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
}
.flexafiltre
{
    display: flex;
    flex-flow:row wrap;
}
.margfiltre
{
    margin-top: 50px;
    margin-bottom: 40px;
}
.margfiltretitle
{
    margin-right: 20px;
    font-size: larger;
}
.filtretexticons
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 150px;
}
.filtretexticons:hover > .filtretext
{
    color: #0065fc;
}
.filtretexticons:hover > .filtreicons 
{
    color: white;
    background-color: #0065fc;
}
.filtretext
{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;  
}
.flexafiltre i
{
    border-radius: 25px;
    width: 45px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
    font-size: 1.1em;
    display: flex !important;
    justify-content: center;
    align-items: center;;
    
}
.structurefiltre
{
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    margin-left: 15px;
}




/* END FILTRES */
/* START INFO */

.info
{
    display: flex;
    align-items: center;
}
.icons
{
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 5px;
}

/* END INFO */

/*START HEBERGEMENT*/

#hebergement 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 56px;
}

.title_hebergements_a_marseille 
{
    margin: 0px;
    font-size: large;
    margin-bottom: 21px;
}

#hebergements_a_marseille 
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 10px 36px 10px 36px;
    max-width: 805px;
}

.container_item 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 60px;
}

.box_carte 
{
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    max-width: 236px;
    margin-bottom: 28px;

}

.hebergement_image 
{
    padding-left: 5px;
    padding-right: 5px;
}

.photo_hebergement 
{
    object-fit: cover;
    width: 236px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1px 1px 1px 1px;
}

.hebergement_contenu 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title_contenu 
{
    padding-top: 11px;
    font-weight: bold;
    padding-left: 10px;
}


.hebergement_notation 
{
    display: flex;
}

.hebergement_contenu h3,
.hebergement_populaire_contenu h3 
{
    font-weight: bold;
    font-style: normal;
}

.hebergement_montrer_plus 
{
    font-weight: bold;
}

.grey-star 
{
    color: grey;
}
a 
{
    text-decoration: none;
    color: black;
    font-style: normal;
}

a:hover 
{
    text-decoration: #0065FC;
    color: #0065FC;
}
.price_contenu 
{
    padding-left: 10px;
}
.hebergement_notation
{
    padding-left: 10px;
}

/*END HEBERGEMENT*/

/*START POPULAR*/
.title_popularite 
{
    display: flex;
    flex-direction: row;
}

.title_les_plus_populaires 
{
    margin-right: 50px;  
}

.fa-chart-line 
{
    color: black;
}

#container_hebergements_populaires 
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 45px 38px 31px 45px;
    max-width: 345px;
}

.hebergement_les_plus_populaires 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box_populaire_carte 
{
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    background-color: white;
    margin-bottom: 29px;
}

.photo_populaire 
{
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.hebergement_populaire_contenu 
{
    padding: 7px 0px 7px 20px;
    display: flex;
    flex-direction: column;
}

.title_populaire_contenu 
{
    font-weight: bold;
}


.hebergement_notation_populaire 
{
    display: flex;
}
.price_populaire_contenu
{
    padding-bottom: 35px;
}
/*END POPULAR*/

#activity
{
    display:flex;
    border: 2px solid royalblue;
    background-color: rgb(32, 112, 32);
    width: 100%;
    height: 450px;
    margin-top: 15px;
}
.element1:nth-child(1)
{
    display: flex;
    border: 2px solid rebeccapurple;
    background-color: rgb(10, 10, 245);
    width: 20%;
    height: 400px;
    margin: 25px 50px 75px 100px;
}
.groupelm
{
    display: flex;
    border: 2px solid red;
    width: 20%;
    height: 400px;
    margin: 25px 50px 75px 100px;
    flex-direction: column;
    justify-content: space-between;
}
.elm2
{
    display: flex;
    height: 55%;
    background-color: rgb(39, 56, 56);
}
.elm3
{
    display: flex;
    height: 35%;
    background-color: rgb(68, 233, 233);
}
.element4
{
    display: flex;
    border: 2px solid rebeccapurple;
    background-color: blue;
    width: 20%;
    height: 400px;
    margin: 25px 0px 75px 100px;
}
.groupelm2
{
    display: flex;
    border: 2px solid red;
    width: 20%;
    height: 400px;
    margin: 25px 50px 75px 100px;
    flex-direction: column;
    justify-content: space-between;
}
.elm5
{
    display: flex;
    height: 43%;
    background-color: brown;
}
.elm6
{
    display: flex;
    height: 47%;
    background-color: chocolate;
}
#contact
{
    display: flex;
    border: 2px solid rgb(202, 136, 13);
    background-color: palegreen;
    width: 100%;
    height: 250px;
    margin-top: 15px;
    justify-content: center;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .conteneur
    {
        width: 100%;
    }
    .headernav
    {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 2px;
    }
    .logo
    {
        display: flex;
        width: 50%;
        order: 0;
    }
    .sizenav 
    {
        width: 100%;
    }
    .sizelinks 
    {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    .sizelink1_2
    {
        margin-left: 0%;
        width: 100%;
        order: 2;
    }
    .sizelink 
    {
        width: 50%;
        height: 99px;
    }
    .order
    {
        display: flex;
        order: 1;
    }
    .bordurenav
    {
        border-bottom: 3px solid gray;
    }
    .bordurenav:hover 
    {
        border: none;
        border-bottom: 3px solid #0065fc;
        cursor: pointer;
    }
    .bordurenav:hover > a 
    {
        color: #0065fc;
    }

    .filtretexteicons 
    {
        margin-bottom: 20px;
    }
    .filtre
    {
        display: flex;
        flex-flow: column;
    }
    .filtretext
    {
        padding-left: 10px;
    }
    .structurefiltre
    {
        margin-bottom: 10px;
    }
    .margfiltre
    {
        margin-bottom: unset;
    }
    #Titre
    {
        width: 100%;
    }
    #Recherche
    {
        width: 100%
    }
    #Filtre
    {
        width: 100%;
    }
    .contresultat
    {
        flex-direction: column-reverse;
    }
    #Populaires
    {
        width: 100%;
        height: 240px;
    }
    #Résultat
    {
        width: 100%;
        height: 240px;
    }
    #Activité
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Element1:nth-child(1), .Element4
    {
        width: 70%;
        margin: 0;
        margin-top: 5px;
    }
    .groupelm, .groupelm2
    {
        width: 70%;
        margin: 0;
        margin-top: 5px;
        height: 100%;
    }
    .iconsearch
    {
        display: flex;
        width: 50px;
        height: 50px;
        background-color: #0065fc;
        color: white;
        font-weight: bold;
        border: none;
        border-radius:15px;
        align-items: center;
        justify-content: center;
    }
    .search
    {
        width: 100%;
    }
    .buttonsearch
    {
        display: none;
    }

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.sizelink12 
{
    margin-left: 35%;
}
.sizehebergements 
{
    min-height: auto;
    padding: 20px;
}
#Titre
{
    width: 100%;
}
#Recherche
{
    width: 100%
}
#Filtre
{
    width: 100%;
}
.contresultat
{
    flex-direction: column-reverse;
}
#Populaires
{
    width: 100%;
    height: 240px;
}
#Résultat
{
    width: 100%;
    height: 240px;
}
#Activité
{
    flex-direction: center;
    align-items: center;
}
.Element1:nth-child(1), .Element4
{
    width: 70%;
    margin: 0;
    margin-top: 5px;
    height: 95%;
}
.groupelm, .groupelm2
{
    width: 70%;
    margin: 0;
    margin-top: 5px;
    height: 95%;
}

}
